.testimonials {
	margin-top: 100px;

	.testimonials__list {
		margin-top: 80px;
		background-color: #191a23;
		color: #fff;
		padding: 85px 0 50px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 45px;
	}
}

@media (max-width: 480px) {
	.testimonials {
		.testimonials__list {
			padding: 30px;
		}
	}
}
